:root {
	--background-color: #181818;
	--accent-color: #dc3b5a;
  --secondary-accent-color: #1e1e1e;
  --secondary-accent-color-transparent: #1E1E1E1A;
	--text-color: #ffffff;
  --text-color-transparent: #FFFFFF1A;
}

